BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
UseTab: Always
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Allman
ColumnLimit: 120
IndentCaseLabels: false
NamespaceIndentation: None
PointerAlignment: Left
SortIncludes: false