[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "External/D3D12MemoryAllocator"]
	path = External/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator.git
[submodule "External/tinyobjloader"]
	path = External/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "External/SDL"]
	path = External/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "External/glm"]
	path = External/glm
	url = https://github.com/g-truc/glm.git
[submodule "External/DirectX-Headers"]
	path = External/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
